.form-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.action-btn-group {
    justify-content: space-between;
}

.action-btn {
    width: 150px;
}

.general-wrapper {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.width-800 {
    width: 800px;
}
